header {
    padding: 10px 0;
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-decoration: none;
    
        nav {
            text-align: center;
            
        }

        .user {
            display: flex;
            flex-direction: row;

            span {
                &:first-child,
                &:last-child {
                    height: 50px;
                    width: 50px;
                    
                    img {
                        width: 100%;
                    }
                }

                &:last-child {
                    background-image: url('../../utils/icons/logout.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                &:not(:last-child){
                    margin-right: 15px;
                }
            }
        }
    }
}


.nav-link {
    padding-left: 15px;
    text-decoration: none;
    color: #000
}
