@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.main-nav {
  @apply px-6 py-4 text-main-color font-bold relative overflow-hidden 
    before:content-[''] before:absolute before:z-1 before:bottom-0 before:left-0
    before:w-full before:h-full before:translate-y-full before:bg-main-color
    before:custom-transition hover:before:translate-y-0 hover:text-white 
}

.main-active-nav {
  @apply italic border-b-2
}

.custom-transition {
  @apply transition-all duration-500
}